/*--Navbar--*/
.nav-item{
    font-size: 30px
}

/*--Body--*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/*--Jumbotron--*/

.jumbotron {
    background: none;
}

.jumbotron-heading {
    font-size: 4rem;
}

/*--Index Image--*/

.bg-image1 {
    background-image: url(../imgs/index.jpg);
    height: 130%;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--Footer--*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-right: 5%;
    background: none;
    color: black;
    text-align: right;
}