.nav-item{
    font-size: 30px
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;

}
.bg-image {
    background-image: url(../imgs/index.jpg);
    height: 130%;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: none;
}

.jumbotron-heading {
    font-size: 4rem;
}