.nav-item {
    font-size: 30px
}
body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url(../imgs/DNS.jpg);
    height: 120%;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: rgba(0,0,0, 0.8);
    color: white;
    border: 3px solid #f1f1f1;
    text-align: left;
}

.card p {
    font-size: 1.3rem;
}
.col-md-12 {
    padding-top: 50px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-right: 5%;
    background: none;
    color: white;
    text-align: right;
}